@model IEnumerable<Vidly.Models.Vehicle>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicles Overlaping</h2>

<!-- This is the div that will contain the Google Map -->
<div id="map" style="width: 100%; height: 500px"></div>

@section scripts {

    <script>
        var areas = [];
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: { lat: 58.3776, lng: 26.7290 },
                mapTypeId: 'terrain'
            });

            function getJsonData() {
                $.ajax({
                    type: 'POST',
                    url: '/Vehicles/GetJsonDataData',
                    dataType: 'json',
                    success: function(myControllerJsonData) {
                        handleData(myControllerJsonData);
                    }
                });
            }

            getJsonData();

            function handleData(data) {

                var vehicle1041 = [];
                var vehicle1949 = [];
                var vehicle969 = [];

                $.each(data, function(i, item) {
                    if (item.objectName === 'https://apps.oskando.ee/seeme/Api/Vehicles/' +
                        'getRawData?objectId=1041&begTimestamp=2013-02-01&endTimestamp=2013-02-02&key=proovitoo1') {
                        vehicle1041.push({ lat: item.latitude, lng: item.longitude });
                    } else if (item.objectName === 'https://apps.oskando.ee/seeme/Api/Vehicles/' +
                        'getRawData?objectId=1949&begTimestamp=2013-02-01&endTimestamp=2013-02-02&key=proovitoo1') {
                        vehicle1949.push({ lat: item.latitude, lng: item.longitude });
                    } else if (item.objectName === 'https://apps.oskando.ee/seeme/Api/Vehicles/' +
                        'getRawData?objectId=969&begTimestamp=2013-02-01&endTimestamp=2013-02-02&key=proovitoo1') {
                        vehicle969.push({ lat: item.latitude, lng: item.longitude });
                    }

                });

                var est1 = createPolygonObject(vehicle1041, '#ffff00');
                var est2 = createPolygonObject(vehicle1949, '#b30000');
                var est3 = createPolygonObject(vehicle969, '#0066ff');

                putPoligonOnMapAndListener(est1);
                putPoligonOnMapAndListener(est2);
                putPoligonOnMapAndListener(est3);

                function createPolygonObject(dataa, color) {
                    var polygonObject = new google.maps.Polygon({
                        paths: dataa,
                        strokeColor: '#000000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: color,
                        fillOpacity: 0.35
                    });
                    return polygonObject;
                }


                function putPoligonOnMapAndListener(polygonObejct) {
                    polygonObejct.setMap(map);
                    google.maps.event.addListener(polygonObejct, 'click', function () {
                        alert(convertToHectars(this));
                    });
                }

                function convertToHectars(parameter) {
                    var lol = google.maps.geometry.spherical.computeArea(parameter.getPath()) * 0.001;
                    var roundedValue = Math.round(lol);
                    return 'Area is ' + roundedValue + ' hectares large';
                }

                areas.push(google.maps.geometry.spherical.computeArea(est1.getPath()) * 0.001);
                areas.push(google.maps.geometry.spherical.computeArea(est2.getPath()) * 0.001);
                areas.push(google.maps.geometry.spherical.computeArea(est3.getPath()) * 0.001);


                $.each(areas, function(i, item) {
                    $('#lolo tbody').append('<tr><td>' + Math.round(item) + '</td></tr>');
                });

                //$('tbody tr').click(function(item) {
                //    alert($(this).text());
                //    console.log(item);

                //});
            }

        }
    </script>
}

<br>
<br>

@if (!Model.Any())
{
    <h1>Sorry, can't connect to server</h1>
}
else
{
    <table class="table table-bordered table-hover" id="lolo">
        <thead>
            <tr>
                <th>Area in hectares</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}






